.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 550px;
  width: 100%;
}

.page-btn {
  outline: none;
  max-width: 55px;
  width: 100%;
  padding: 0.6em;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: var(--primary-color);
  }
}
