.cardContainer {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: 1px solid black;
}

.row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.row:not(:last-child) {
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #d1d1d1;
    transform: translateX(-50%);
  }
}

.rowTitle {
  font-size: 1.2rem;
}

.rowText {
  padding-left: 0.5rem;
}

.checkbox {
  margin: 0.2rem;
  width: 15px;
  height: 15px;
}

.img {
  max-width: 100%;
  height: auto;
}
