.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.errorInfo {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.errorTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin: 0;
  padding: 2rem;
  background-color: rgb(236, 115, 111);
  color: rgb(240, 255, 251);
}

.errorBtn {
  --primary-color: #041c65;
  --card-color: #dfdff1;
  --card-color-hover: #f8f5f5;

  padding: 0.6em 1.2em;
  transition: 0.2s;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  background-color: var(--card-color);
  color: var(--primary-color);
  &:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--card-color-hover);
    color: var(--primary-color);
  }

  &:focus {
    outline: none;
  }
}
