.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 2rem;
  width: 100%;
  max-width: 200px;
  min-height: 200px;
  transition: 0.2s;
  cursor: pointer;
  background-color: var(--card-color);
  border: 1px solid var(--card-color);
  color: var(--primary-color);

  &:hover {
    background-color: var(--card-color-hover);

    & .picShiny {
      opacity: 100%;
    }
  }
}

.cardTitle {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.picContainer {
  position: relative;
}

.pic {
  width: 100%;
}

.noImage {
  width: 96px;
  height: 96px;
}

.picShiny {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  transition: 0.5s;
}

.checkboxLabel {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  background-color: var(--card-color);

  & input {
    width: 0;
    height: 0;
  }
}

.checkboxMarker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: var(--secondary-color);
}
