.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  max-width: 200px;
  min-height: 200px;
  transition: 0.2s;
  cursor: pointer;
  background-color: var(--card-color);
  border: 1px solid var(--card-color);
  color: var(--primary-color);

  &:hover {
    background-color: var(--card-color-hover);

    & .pic-shiny {
      opacity: 100%;
    }
  }
}

.card-title {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.pic-container {
  position: relative;
}

.pic {
  width: 100%;
}

.pic-shiny {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  transition: 0.5s;
}

.check {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  margin: 0.5rem;
  cursor: pointer;
}
