.app.dark {
  --bg-color: #2e2e35;
  --primary-color: #ffffff;
  --secondary-color: #fecb00;
  --card-color: #2e2e41;
  --card-color-hover: #4a4a64;
  --app-bg-color: #585858;
}
.app.light {
  --bg-color: #e8e8ea;
  --primary-color: #041c65;
  --secondary-color: #0449e0;
  --card-color: #dfdff1;
  --card-color-hover: #f8f5f5;
  --app-bg-color: #f7f7f7;
}
