.btn {
  transition: 0.2s;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  background-color: var(--card-color);
  color: var(--primary-color);
  &:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--card-color-hover);
    color: var(--primary-color);
  }

  &:focus {
    outline: none;
  }
}
